<div class="profile-container">

  {{!-- <h1>Surfer num</h1>  --}}
  {{!-- here a random number --}}
  <div class="profile-wrapper">
    {{!-- <img src="{{user.avatar}}" alt="User Avatar" class="avatar" /> --}}
    <img
      src="{{user.avatar}}"
      style="border-radius:100%; width: 80px; height=80px;"/>

    <div class="profile-name-wrapper">
      <h2>{{ user.username }}  </h2>
      <img id="profilePencilIcon" src="./images/icons/edit-icon.png" /> 
    </div>
   
    
    {{!-- <p>{{user.caption}}</p> --}}
  </div>

{{!-- if the user has post we can display this container otherwise none --}}

<div id="popupEditForm" style="display: none;">
  <div class="popup-wrapper">
    <h2>Update your profile 👇</h2> 
    <img id="closePopupBtn" src="./images/close-btn.png" alt="">
    <form action="/profile" method="POST" enctype="multipart/form-data"> 
    <div class="form-profile">
      <label for="username">username</label>
        <input type="text" name="username" value="{{user.username}}" >
      <label for="file">Add your avatar</label>
        <input type="file" name="user-image" class="form-control-file" /> 
      </div>
        <button type="submit" class="save-btn">save</button>
      </form>
    </div>
</div>
    {{!-- <a href="/profile/edit" class="btn btn-primary">Edit</a> --}}
{{!-- </div> --}}
 
{{#if hasPosts}}
  <div id="postsContainer">
    <h2>My Posts</h2>
    {{#each user.posts}}
      <a href="/post/{{this._id}}">
        <div class="post">
          <h3>
              <img src="./images/icons/icon-quotes-open.png" alt="">
              {{ this.title }}
              <img src="./images/icons/icon-quotes-close.png" alt="">
            </h3>
        </div>
      </a>
    {{/each}}
  </div>
{{else}}
  <div class="nopost-wrap">
     <p>No posts yet. Start sharing your surf adventures!</p>
  </div>
 
{{/if}}