<div class="create-post-container">
  <h2>Edit post: {{post.title}}</h2>
  <div class="post-form">
    <form action="/post/{{post._id}}/edit" method="POST" enctype="multipart/form-data">
        <div class="category-options">
          <p>Choose a category*:</p>
          <input type="radio" id="sell-rent" name="category" value="sell/rent">
          <label for="sell-rent">sell/rent</label>
          <img src="/images/board-icon.png" alt="board icon">
          <input type="radio" id="tips" name="category" value="tips">
          <label for="tips">tips</label>
          <img src="/images/tips-icon.png" alt="palmtree icon">
          <input type="radio" id="meetup" name="category" value="meetup">
          <label for="meetup">meet up</label>
          <img src="/images/meetup-icon.png" alt="palmtree icon">
        </div>
        <div class="post-content">
          <p>Title*:</p>
          <input type="text" name="title" value="{{post.title}}">
          <p>Description:</p>
          <textarea type="textarea" name="description">{{post.description}}</textarea>
          <p>Current media:</p>
          <div class="edit-media-wrapper">
            <img src="{{post.mediaUrl}}" alt="">
          </div>   
        </div>
        <div class="file-upload">
          <label>Update media:
            <input type="file" name="post-file-upload"/>
            <input type="text" name="existingMedia" hidden value="{{post.mediaUrl}}">
          </label>
        </div>
        <div class="submit-cancel">
          <button type="submit">update</button>
          <a href="/posts">cancel</a>
        </div>
    </form>
  </div>
</div>