<script src="/public/js/script.js"></script>

<h2>All posts List when logged in</h2>

<img src="/public/images/meetup-icon.png" id="search-image" alt="Search" />
<form id="search-form" action="/posts/search" method="POST">
  <input type="text" name="keyword" placeholder="Search..." />
  <button type="submit">Search</button>
</form>

<div class="posts-container">
  {{#each posts}}
    <div class="post-card">
      <div class="post-category">
        <p>Category: {{this.category}}</p>
      </div>
      <div class="post-title">
        <h3>Title: {{this.title}}</h3>
      </div>
      <div class="post-content">
        <p>Desc: {{this.description}}</p>
        {{!-- <img src={{this.mediaUrl}} alt=""> --}}
      </div>
      <div class="post-meta">
        <p>Author: {{this.author.username}}</p>
        <p>Timestamp: {{this.timeStamps}}</p>
      </div>
    </div>
  {{/each}}
</div>