<script src="../js/script.js"></script>

{{!-- <h2>All posts List when logged in</h2> --}}
<div class="search-navbar">
  <div class="search-wrapper">
    {{!-- <img src="/images/icons/search-icon (2).png" id="search-image" alt="Search" /> --}}
    <form id="search-form" action="/posts" method="POST">
      <input type="text" name="keyword" placeholder="Search..." />
      <button class="search" type="submit">Search</button>
      <button class="reset" type="button" id="reset-button">Reset</button>
    </form>
  </div>
</div>


{{!-- <div class="posts-container">
  {{#each posts}} --}}
    {{!-- <div class="post-card">
      <div class="post-category">
        <h5>Category: {{this.category}}</h5>
      </div>
      <div class="post-title">
        <h5>Title: {{this.title}}</h5>
      </div>
      <div class="post-content">
        <p>Description: {{this.description}}</p>
        <img src="{{this.mediaUrl}}" alt="" />
      </div>
      <div class="post-meta">
        <p>Author: {{this.author.username}}</p>
        <p>Created: {{dateFormat this.createdAt "MMM Do YYYY, h:mm a" true}}</p>
      </div>
    </div> --}}
  {{!-- {{/each}}
</div> --}}

<div class="posts-container">
    {{#each posts}}
      {{> postpartial this}}
    {{/each}}
</div>

<div>
<h3> Current conditions at the top 5 beaches</h3>
{{#each beachInformation}}
  <h5>Beach: {{this.name}}</h5>
  <p>Temperature: {{this.beachData.temperature}}°C</p>
  <p>Wind speed: {{this.beachData.windspeed}}km/h</p>
  <p>Wind direction: {{this.beachData.windspeed}} kts</p>
{{/each}}
</div>