<h2>All posts List when logged in</h2>

<div class="posts-container">
  {{#each posts}}
  <div class="post-card">
    <div class="post-category">
    </div>
      <h5>Category: {{this.category}}</h5>
    </div>
    <div class="post-title">
      <h5>Title: {{this.title}}</h5>
    <div class="post-content">
      <p>Desc: {{this.description}}</p>
      {{!-- <img src={{this.mediaUrl}} alt=""> --}}
    </div>
    <div class="post-meta">
      <p>Author: {{this.author.username}}</p>
      <p>Timestamp: {{this.createdAt}}</p>
    </div>
 </div> 
{{/each}}
</div>

