<script src="../js/script.js"></script>

<div class="search-navbar">
  <div class="search-wrapper">
    <form id="search-form" action="/posts" method="POST">
      <input type="text" name="keyword" placeholder="Search..." />
      <button class="search" type="submit">Search</button>
      <button class="reset" type="button" id="reset-button">Reset</button>
    </form>
  </div>
</div>

<div class="posts-container">
    {{#each posts}}
      {{> postpartial this}}
    {{/each}}
</div>


    <div class="post-card">
      {{!-- {{#compareUser userInSession._id  this.author._id}} --}}
      {{!-- <div class="post-modify">
        <a href="/post/{{this._id}}/edit">Edit</a>
        <form action="/post/{{this._id}}/delete" method="POST">
          <button>Delete</button>
        </form>
      </div> --}}
      {{!-- {{/compareUser}} --}}
      <div class="post-category">
        <h5>Category: {{this.category}}</h5>
      </div>
      <div class="post-title">
        <h5>Title: {{this.title}}</h5>
      </div>
      <div class="post-content">
          <p>Description: {{this.description}}</p>
        <div class="media-posts-wrap">
          <img src="{{this.mediaUrl}}" alt="" />
        </div>  
      </div>
      <div class="post-meta">
        <p>Author: {{this.author.username}}</p>
        <p>Created: {{dateFormat this.createdAt "MMM Do YYYY, h:mm a" true}}</p>
      </div>
    </div>
  {{/each}}

</div>